*
{
	margin: 0px;
	padding: 0px;
	border: none;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
    height: 100%;
	font-size: 14px;
	padding: 5px 6%;
    background-color:#D1EEEC;
}

#container
{
	float: left;
}

#header
{
	float: left;
    display:inline;
	width: 100%;
    min-height: 100px;
    max-height: 120px;
    background-color: #005DC4;
}

img.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}


#header h1
{
	font-size: 18px;
	float: left;
	padding: 45px 0px 5px 0px;
}

footer
{
    border-top: solid 1px black;
    margin-top: 20px;
}

/* public .public class and Selection*/


ul.public 
{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.public 
{
    float: left;

}

li.public a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li.public a:hover 
{
    background-color: #111;
    color:#D1EEEC;
}

/*=========== End of .public and Selection*/


/* public .membership class and Selection*/

ul.membership 
{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.membership 
{
    float: left;
}

li.membership a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li.membership a:hover 
{
    background-color: #111;
    color:#D1EEEC;
}

ul.member 
{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.member 
{
    float: left;
}

li.member a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li.member a:hover 
{
    background-color: #111;
    color:#D1EEEC;
}

/*=========== End of .membership and Selection*/

.button, input[type=submit]
{
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px; 
	border: 1px;
	background: #5e5b54;
	color: #fff;
	font-weight: bold;
    cursor: pointer; 
}

.button a
{
	color: #fff !important;
}

iframe
{
    display: inline;
    position: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer
{
	clear: both;
	padding: 10px;
	text-align: right;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	font-family: 'Palatino Linotype';
    background-color: #D1EEEC;
}

/******************** Top Navigation ************************/
#navBar
{
    float: right;
	width: 100%;
	margin-bottom: 10px;
    background-color:#333;
    margin-bottom: 10px;
}

/********************* End top navigation ***************************/

p
{
	margin-bottom: 15px;
	margin-top: 0px;
}

h1, h2, h3, h4, h5, h6
{
	color: #2e0a02;
    padding: 5px;
}

h2, h3
{
	margin-bottom: 10px;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}


a:link, a:visited
{
	color: #0000ff;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #D90C2E; 
	text-decoration: none;
	font-weight: bold;
}

a:active
{
	color: #006633;
	text-decoration: none;
	font-weight: bold;
}

p em
{
	color: #9b9993;
}

/* Form styles */
legend
{
	padding: 10px;
	font-weight: bold;
}

fieldset
{
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
}

div.editor-field
{
	margin-bottom: 10px;
}

input[type=text], input[type=password], select
{
	border: 1px solid #8A8575;
	width: 95%;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Tables */
table.table
{
    padding: 5px;
	border: 1px solid #000;
	border-collapse: collapse;
	color: #666666;
    background-color: #D3D3D3;
	min-width: 300px;
	max-width: 60%;
    font-weight: bold;
    position: center;
    margin-left: auto;
    margin-right: auto;
}


tr
{
	border: 1px solid #000;
	line-height: 25px;
    margin-left: auto;
    margin-right: auto;
}

th
{
	background-color: #9b9993;
	color: #000;
	font-size: 13px;
	text-align: center;
}

th, td
{
	padding: 5px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

tr:hover
{
	background-color: #fff;
}


/* Begin Classes*/

.checkbox
{
    padding-top: 2px;
}

#Form
{
    float:left;
    display: inline;
    font-family: 'Palatino Linotype';
    margin: 10px;
    max-width: 90%;
    min-width: 300px;
    border: solid 3px #181800;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

#FormPortfolio
{
    float:left;
    display: inline;
    font-family: 'Palatino Linotype';
    margin: 10px;
    max-width: 65%;
    min-width: 300px;
    border: solid 3px #181800;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

#FormSells
{
    float:left;
    display: inline;
    font-family: 'Palatino Linotype';
    margin: 10px;
    max-width: 90%;
    min-width: 300px;
    border: solid 3px #181800;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

th#buffer
{
    background-color: #D3D3D3;
	font-size: 13px;
	text-align: center;
    border:0;
}

.clear
{
    clear:both;
}

textarea 
{
    width:400px;
    padding: 3px;
    border: 1px solid;
}

#MarginWrapper
{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

numerictextbox
{
    width:400px;
    padding: 3px;
    border: 1px solid;
}

/*****************   Home setup   **********************/

div#wrapper
{
    background-image:url(/Content/Images/backgroundMaster.jpg);
}

#FormSells
{
    float:left;
    display: inline;
    font-family: 'Palatino Linotype';
    margin: 10px;
    max-width: 90%;
    min-width: 300px;
    border: solid 3px #181800;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

th#buffer
{
    background-color: #D3D3D3;
	font-size: 13px;
	text-align: center;
    border:0;
}

.clear
{
    clear:both;
}

textarea 
{
    width:400px;
    padding: 3px;
    border: 1px solid;
}

#MarginWrapper
{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

numerictextbox
{
    width:400px;
    padding: 3px;
    border: 1px solid;
}

/*****************   Home setup   **********************/

div#wrapper
{
    background-image:url(/Content/Images/backgroundMaster.jpg);
}